<% if (successMsg.length > 0) { %>
    <div class="alert alert-success d-flex justify-content-between align-items-center col-6 offset-3">
        <%= successMsg[0] %>
        <button type="button" 
                class="btn-close" 
                data-bs-dismiss="alert" 
                aria-label="Close"></button>
    </div>
<% } %>

<% if (errorMsg.length > 0) { %>
    <div class="alert alert-danger d-flex justify-content-between align-items-center col-6 offset-3">
        <%= errorMsg[0] %>
        <button type="button" 
                class="btn-close" 
                data-bs-dismiss="alert" 
                aria-label="Close"></button>
    </div>
<% } %>