<body>
<div class="row mt-3">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error <%= err.status %></h4>
        <p><%= err.message %></p>
        <hr>
        <a href="/" class="btn btn-primary">Go to Home</a>
</div>
</div>
</body>